{% extends "base.html" %}

{% block title %}Home - Todo App{% endblock %}

{% block content %}
    <h1 class="text-center">Todo List</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    <form action="{% url 'mark_done' todo.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" {% if todo.is_done %}checked{% endif %}>
                        </div>
                    </form>
                </td>
                <td class="todo-actions">
                    <a href="{% url 'edit' todo.id %}" class="btn btn-warning">Edit</a>
                    <form action="{% url 'delete' todo.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{% url 'create' %}" class="btn btn-secondary">Create New Todo</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
    </div>
{% endblock %}
